# RAG Index & Config
.rag_index/
rag.yaml

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
develop-eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.so
.venv
venv/
ENV/
env/
site-packages/

# IDEs
.vscode/
.idea/
.DS_Store

# Local Wrapper
rag-cli
sample_docs